@page
@model TicketSystem.Pages.Tickets.DetailsModel
@using TicketSystem.Enums;
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
    </dl>
</div>
@if (Model.Ticket.Status != AuthorizationStatus.Resolved)
{
    @if ((await AuthorizationService.AuthorizeAsync(
    User, Model.Ticket, TicketOperations.Resolve)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Ticket.TicketId" />
            <input type="hidden" name="status" value="@AuthorizationStatus.Resolved" />
            <button type="submit" class="btn btn-xs btn-success">Resolve</button>
        </form>
    }
}

@if (Model.Ticket.Status != AuthorizationStatus.NotYet)
{
    @if ((await AuthorizationService.AuthorizeAsync(
    User, Model.Ticket, TicketOperations.Reject)).Succeeded)
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.Ticket.TicketId" />
            <input type="hidden" name="status" value="@AuthorizationStatus.NotYet" />
            <button type="submit" class="btn btn-xs btn-danger">NotYet</button>
        </form>
    }
}

<div>
    @if ((await AuthorizationService.AuthorizeAsync(
        User, Model.Ticket,
        TicketOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a>
        <text> | </text>
    }
    <a asp-page="./Index">Back to List</a>
</div>
