@page
@model Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Tickets</h2>
@if ((await AuthorizationService.AuthorizeAsync(
   User, Model.Ticket[0], TicketOperations.Create)).Succeeded)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ticket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   TicketOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a>
                        <text> | </text>
                    }

                    <a asp-page="./Details" asp-route-id="@item.TicketId">Details</a>

                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   TicketOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
